<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <a  class="icono" href="/">
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </a>
    <h1><%= movie.title %> </h1>    
    <br>
    <p>RATING: <%= movie.rating %> </p>
    <p>AWARDS: <%= movie.awards %> </p>
    <p>LENGTH: <%= movie.length + ' min'%> </p>
    <p>RELEASE DATE: <%= movie.release_date %> </p>
    <br>
    <% if (movie.genero) { %>
        <h5>GENERO: <a href="/genres/detail/<%= movie.genero.id %>"> <%= movie.genero.name %></a></h5>
    <% }else{ %>
        <h5>Esta pelicula no posee GENERO</h5>
    <% } %> 
    <br>
    <h4>ACTORES</h4>
        <% if (movie.actores) { %>
            <ul>
                <% movie.actores.forEach(actor => { %>
                <li><a href="/actors/detail/<%= actor.id %>"><%= actor.first_name %> <%= actor.last_name %></a></li>
                <% }) %>
            </ul>
        <% }else{ %>
            <p>La pelicula no posee actores registrados</p>
        <% } %>
         

    <section style="display: flex; gap: 5px; margin-top: 20px">
        <!--Aquí debe colocar los botones de Modificar - Borrar y Listado de Películas-->
        <a class="botonModificar" href="/movies/edit/<%= movie.id  %>">Editar</a><br>
        <a class="botonBorrar" href="/movies/delete/<%= movie.id  %>">Eliminar</a>
    </section>

</body>
</html>