<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="titulo">Editar Película</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <a class="icono" href="/">
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </a>
    <h1 class="titulo">Película Editada:  <%= Movie.title %></h1>
    <section class="formulario">
        <form action="/movies/update/<%= Movie.id %>?_method=PUT" method="POST">
            <div>
                <label for="title">Title </label>
                <p><input type="text" name="title" id="" value="<%= Movie.title %>" ></p>
                <small style="color: red;"><%= locals.errors && errors.title && errors.title.msg %> </small>
            </div>
            <div>
                <label for="rating">Rating </label>
                <p><input type="number" name="rating" id="" value="<%= Movie.rating %>" required></p>
                <small style="color: red;"><%= locals.errors && errors.rating && errors.rating.msg %> </small>
            </div>
            <div>
                <label for="awards">Awards </label>
                <p><input type="number" name="awards" id="" value="<%= Movie.awards %>" ></p>
                <small style="color: red;"><%= locals.errors && errors.awards && errors.awards.msg %> </small>
            </div>
            <div>
                <label for="release_date">Release date </label>
                <p><input type="date" name="release_date" id="" value="<%= moment(Movie.release_date).format('YYYY-MM-DD') %>" ></p>
                <small style="color: red;"><%= locals.errors && errors.release_date && errors.release_date.msg %> </small>
            </div>
            <div>
                <label for="length">Length </label>
                <p><input type="number" name="length" id="" value="<%= Movie.length %>" ></p>
                <small style="color: red;"><%= locals.errors && errors.length && errors.length.msg %> </small>
            </div>
            <div>
                <label for="genre_id">Genre </label>
                <p>
                    <select name="genre_id" id="">
                        <% allGenres.forEach(genre => { %>
                        <option value="<%= genre.id %>" <% if (Movie.genre_id == genre.id) { %><%= 'selected' %><% }; %>><%= genre.name %></option>
                        <% }); %>
                    </select>
                </p><small style="color: red;"><%= locals.errors && errors.genre_id && errors.genre_id.msg %> </small>
            </div>
            

    <!--
            <label for="genre_id">Genre ID </label>
            <p><input type="number" name="genre_id" id="" value="<%= Movie.genre_id %>"></p>
        -->
            
            <br>
            <p> <button class="botonAgregar" type="submit">Actualizar</button>
        
            <a  class="botonVolver" href="/movies">Listado de Películas</a></p>
        </form>
    </section>
</body>

</html>